.Rproj.user
.Rhistory
.RData
.Rdata
.httr-oauth
.DS_Store
*.html
*_cache
synop.*.gz
*.rds
raw_data/**
vignettes/LM_temporal_analysis_article.Rmd
vignettes/[Computing]Spatial_components.Rmd
!docs/*.html
